body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  text-align:center;
  font-family: Source Code Pro, monospace;
  font-size: 1em;
}

h1 {
  font-family: Barlow, sans-serif;
  font-size: 2em;
}

mc-field-group {
  display: block;

}

label {
  display: block;
}

input {
  display:block;
  height: 40px;
  border-radius: 4px;
}

footer {
  font-size: .75em;
}
